.right-icon{
    transform: rotate(315deg);
    width: 45%;
    animation: swordSwingLeft 3s  forwards;


}

.left-icon{
    transform: rotate(315deg);
    width: 45%;
    animation: swordSwingRight 3s  forwards;
}

@keyframes swordSwingRight {
    from{
        transform: rotate(315deg);
    }

    50%{
        transform: rotate(360deg);
    }

    to{
        transform: rotate(0deg);
    }
}

@keyframes swordSwingLeft {
    from{
        transform: rotate(315deg);
    }

    50%{
        transform: rotate(360deg);
    }

    100%{
        transform: rotate(270deg);
    }
}


.modal-container {
    display: block;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    text-align: center;
  }