@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Libre+Baskerville&display=swap');

body{
    font-family: 'Libre Baskerville', serif;
    background-color: #2e4d3e;
}
.headline{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    font-size: 3rem;
}
.root-container{
    margin: 5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.root-container > div{
    border-radius: 20px;
    margin: .5rem;
    flex-wrap: wrap;
    justify-content: center;
}
.root-container > div:hover{
    transform: scale(1.05);
    transition: ease-in-out 1s;
    cursor: pointer;
}
.container-content-img{
    width: 4rem;
}
/* PLAYER ONE */
.root-container1{
    margin: 5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.root-container1 > div{
    border-radius: 20px;
    margin: .5rem;
    margin-right: -2rem;
    flex-wrap: wrap;
    justify-content: center;
}
.root-container1 > div:hover{
    transform: scale(1.05);
    transition: ease-in-out 1s;
    cursor: pointer;
}
/* PLAYER TWO */
.root-container2{
    margin: 5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.root-container2 > div{
    border-radius: 20px;
    margin: .5rem;
    margin-right: -2rem;
    flex-wrap: wrap;
    justify-content: center;
}
.root-container2 > div:hover{
    transform: scale(1.05);
    transition: ease-in-out 1s;
    cursor: pointer;
}
.dealer{
    margin-right: -1.8rem;
}
.player-headline{
    font-size: 2rem;
    position: relative;
    justify-content: center;
    display: flex;
}
.player-container{
    display: flex;
}
.player-container > div{
    flex-wrap: wrap;
    justify-content: center;
}
